body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto' 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 920px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);

}

.logo {
  height: 32px;
  margin: 16px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.social_media {
  position: absolute;
  bottom: 0px;
}

#hero h1{
  font-size: 60px;
  font-weight: 700;
}

#hero #greeting {
  color: #E71D36;
  font-size: 18px;
  font-weight: 400;
}
