.page-anchor {
  margin-top: 20vh;
  padding: 5%;
}

.social_media {
  position: absolute;
  bottom: 2vh;
  width: 95%;
}

.social_media .ant-space {
  float: right;
}

.page-anchor .ant-anchor-link-title{
  color: white;
  font-weight: bold;
}

.box {
  color: white;
  height: 40px;
  cursor: pointer;
}

.box-primary {
  background-color: #E71D36;
}

.box-default {
  background-color: #001529;
}

.contact-image-background {
  height: 188px;
  color: white;
  background-color: #334452;
}

.contact-title {
  font-size: 20px;
}
.contact-info p {
  float: right;
}

