.page-anchor {
  margin-top: 40vh;
  padding: 5%;
}

.page-anchor .ant-anchor-link-title{
  color: white;
  font-weight: bold;
}



.box {
  color: white;
  height: 40px;
  cursor: pointer;
}

.box-primary {
  background-color: #E71D36;
}

.box-default {
  background-color: #001529;
}

